# importing the Essential Libraries, Metrics

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
from sklearn.preprocessing import scale, StandardScaler,LabelEncoder
from sklearn.model_selection import train_test_split, GridSearchCV,cross_val_score
from sklearn.metrics import confusion_matrix, accuracy_score, mean_squared_error, r2_score, roc_auc_score, roc_curve,classification_report
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
import warnings
warnings.filterwarnings("ignore")

In [2]:
#Loading the Data
df = pd.read_csv("BankChurners.csv")
df

,CLIENTNUM,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Months_on_book,...,Credit_Limit,Total_Revolving_Bal,Avg_Open_To_Buy,Total_Amt_Chng_Q4_Q1,Total_Trans_Amt,Total_Trans_Ct,Total_Ct_Chng_Q4_Q1,Avg_Utilization_Ratio,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_1,Naive_Bayes_Classifier_Attrition_Flag_Card_Category_Contacts_Count_12_mon_Dependent_count_Education_Level_Months_Inactive_12_mon_2
0,768805383,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,39,...,12691.0,777,11914.0,1.335,1144,42,1.625,0.061,0.000093,0.999910
1,818770008,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,44,...,8256.0,864,7392.0,1.541,1291,33,3.714,0.105,0.000057,0.999940
2,713982108,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,36,...,3418.0,0,3418.0,2.594,1887,20,2.333,0.000,0.000021,0.999980
3,769911858,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,34,...,3313.0,2517,796.0,1.405,1171,20,2.333,0.760,0.000134,0.999870
4,709106358,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,21,...,4716.0,0,4716.0,2.175,816,28,2.500,0.000,0.000022,0.999980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10122,772366833,Existing Customer,50,M,2,Graduate,Single,$40K - $60K,Blue,40,...,4003.0,1851,2152.0,0.703,15476,117,0.857,0.462,0.000191,0.999810
10123,710638233,Attrited Customer,41,M,2,Unknown,Divorced,$40K - $60K,Blue,25,...,4277.0,2186,2091.0,0.804,8764,69,0.683,0.511,0.995270,0.004729
10124,716506083,Attrited Customer,44,F,1,High School,Married,Less than $40K,Blue,36,...,5409.0,0,5409.0,0.819,10291,60,0.818,0.000,0.997880,0.002118
10125,717406983,Attrited Customer,30,M,2,Graduate,Unknown,$40K - $60K,Blue,36,...,5281.0,0,5281.0,0.535,8395,62,0.722,0.000,0.996710,0.003294
10126,714337233,Attrited Customer,43,F,2,Graduate,Married,Less than $40K,Silver,25,...,10388.0,1961,8427.0,0.703,10294,61,0.649,0.189,0.996620,0.003377

In [3]:
#Feature Selection
cols_to_use = ["Attrition_Flag","Customer_Age","Gender","Dependent_count","Education_Level","Marital_Status","Income_Category","Card_Category","Credit_Limit"]

In [4]:
df = df[cols_to_use]

In [5]:
#Exploratory Data Analysis

In [6]:
df.head()

,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Marital_Status,Income_Category,Card_Category,Credit_Limit
0,Existing Customer,45,M,3,High School,Married,$60K - $80K,Blue,12691.0
1,Existing Customer,49,F,5,Graduate,Single,Less than $40K,Blue,8256.0
2,Existing Customer,51,M,3,Graduate,Married,$80K - $120K,Blue,3418.0
3,Existing Customer,40,F,4,High School,Unknown,Less than $40K,Blue,3313.0
4,Existing Customer,40,M,3,Uneducated,Married,$60K - $80K,Blue,4716.0

In [7]:
df.shape

(10127, 9)

In [8]:
#Learning the dtypes of columns' and how many non-null values are there in those columns

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Attrition_Flag   10127 non-null  object
 1   Customer_Age     10127 non-null  int64
 2   Gender           10127 non-null  object
 3   Dependent_count  10127 non-null  int64
 4   Education_Level  10127 non-null  object
 5   Marital_Status   10127 non-null  object
 6   Income_Category  10127 non-null  object
 7   Card_Category    10127 non-null  object
 8   Credit_Limit     10127 non-null  float64
dtypes: float64(1), int64(2), object(6)
memory usage: 712.2+ KB

In [10]:
#Getting the statistical summary of dataset

In [11]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Customer_Age,10127.0,46.325960,8.016814,26.0,41.0,46.0,52.0,73.0
Dependent_count,10127.0,2.346203,1.298908,0.0,1.0,2.0,3.0,5.0
Credit_Limit,10127.0,8631.953698,9088.776650,1438.3,2555.0,4549.0,11067.5,34516.0

In [12]:
#Checking for the missing values

In [13]:
df.isna().sum()

Attrition_Flag     0
Customer_Age       0
Gender             0
Dependent_count    0
Education_Level    0
Marital_Status     0
Income_Category    0
Card_Category      0
Credit_Limit       0
dtype: int64

In [14]:
#Checking for the duplicated values

In [15]:
df.duplicated().sum()

30

In [16]:
df.drop_duplicates(inplace=True)

In [17]:
df.duplicated().sum()

0

In [18]:
#One-Hot Encoding and Train-Test Split

In [19]:
y = df["Attrition_Flag"]
X = df.drop("Attrition_Flag", axis =1)
X = pd.get_dummies(X, columns=["Education_Level","Marital_Status","Income_Category","Card_Category","Gender"])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [20]:
X.head()

,Customer_Age,Dependent_count,Credit_Limit,Education_Level_College,Education_Level_Doctorate,Education_Level_Graduate,Education_Level_High School,Education_Level_Post-Graduate,Education_Level_Uneducated,Education_Level_Unknown,...,Income_Category_$60K - $80K,Income_Category_$80K - $120K,Income_Category_Less than $40K,Income_Category_Unknown,Card_Category_Blue,Card_Category_Gold,Card_Category_Platinum,Card_Category_Silver,Gender_F,Gender_M
0,45,3,12691.0,0,0,0,1,0,0,0,...,1,0,0,0,1,0,0,0,0,1
1,49,5,8256.0,0,0,1,0,0,0,0,...,0,0,1,0,1,0,0,0,1,0
2,51,3,3418.0,0,0,1,0,0,0,0,...,0,1,0,0,1,0,0,0,0,1
3,40,4,3313.0,0,0,0,1,0,0,0,...,0,0,1,0,1,0,0,0,1,0
4,40,3,4716.0,0,0,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,1

In [21]:
X_train.shape

(7572, 26)

In [22]:
X_test.shape

(2525, 26)

In [23]:
#Standardizing the Data

In [24]:
scaler = StandardScaler()

In [25]:
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [26]:
label = LabelEncoder()

In [27]:
y_train =  label.fit_transform(y_train)
y_test = label.transform(y_test)

In [28]:
#Machine Learning Models

In [29]:
#Logistic Regression

In [30]:
loj_model = LogisticRegression(solver="liblinear").fit(X_train,y_train)

In [31]:
y_pred = loj_model.predict(X_test)

In [32]:
accuracy_score(y_test,y_pred)

0.8297029702970297

In [33]:
#Model Tuning

In [34]:
loj_model = LogisticRegression(solver="liblinear").fit(X_train,y_train)

In [35]:
y_pred = loj_model.predict(X_test)

In [36]:
cross_val_score(loj_model,X_test,y_test,cv=10).mean()

0.8297023025283895

In [37]:
#KNN Algorithm

In [38]:
knn_model = KNeighborsClassifier().fit(X_train,y_train)

In [39]:
y_pred = knn_model.predict(X_test)

In [40]:
accuracy_score(y_test,y_pred)

0.805940594059406

In [41]:
#Model Tuning

In [42]:
knn = KNeighborsClassifier()

In [43]:
knn_params = {"n_neighbors": np.arange(1,50)}

In [44]:
knn_cv_model = GridSearchCV(knn,knn_params, cv=10).fit(X_train,y_train)

In [45]:
knn_cv_model.best_score_

0.8421820266780061

In [46]:
knn_cv_model.best_params_

{'n_neighbors': 20}

In [47]:
knn_tuned =  KNeighborsClassifier(n_neighbors=20).fit(X_train,y_train)

In [48]:
y_pred = knn_model.predict(X_test)

In [49]:
accuracy_score(y_test,y_pred)

0.805940594059406

In [50]:
#SVM Algorithm

In [51]:
svm_model = SVC(kernel="linear").fit(X_train,y_train)

In [52]:
y_pred = svm_model.predict(X_test)

In [53]:
accuracy_score(y_test,y_pred)

0.8297029702970297

In [54]:
#Model Tuning

In [55]:
svm = SVC()

In [56]:
svm_params  = { "C": np.arange(1,10),"kernel":["linear","rbf"]}

In [ ]:
svm_cv_model = GridSearchCV(svm,svm_params,cv=10, n_jobs=-1, verbose=2).fit(X_train,y_train)

Fitting 10 folds for each of 18 candidates, totalling 180 fits

In [ ]:
svm_cv_model.best_params_

In [ ]:
svm_tuned  = SVC(C=1, kernel='linear').fit(X_train,y_train)

In [ ]:
y_pred = svm_tuned.predict(X_test)

In [ ]:
accuracy_score(y_test,y_pred)